    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
     :root {
        --primary: #8c54ff;
        --secondary: #a55265;
        --tertiary: #B12704;
        --light: #FFF8F0;
        /* --dark:#0D1137; */
        --dark: #1E1E24;
        --darker: #111111;
        --error: rgb(228, 46, 1);
        --spacing-one: calc(1rem * 0.5);
        --spacing-two: calc(1rem);
        --spacing-five: calc(2.5rem);
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    
    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #f5f6f7;
    }
    
    p {
        font-size: 16px;
    }
    
    .title {
        margin-bottom: 45px;
        font-weight: bold;
    }
    
    .bg-1 {
        background-color: #1abc9c;
        /* Green */
        color: #ffffff;
    }
    
    .bg-2 {
        background-color: #474e5d;
        /* Dark Blue */
        color: #ffffff;
    }
    
    .bg-3 {
        background-color: #ffffff;
        /* White */
        color: #555555;
    }
    
    .bg-4 {
        background-color: #2f2f2f;
        /* Black Gray */
        color: #fff;
    }
    
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    
    .navbar-nav li a:hover {
        color: #1abc9c !important;
    }
    /* Work container */
    
    .work-content {
        margin-bottom: 50px;
    }
    /* work image box*/
    
    .box {
        position: relative;
        display: inline-block;
        /* Make the width of box same as image */
    }
    /* text on image*/
    
    .box .text {
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 40%;
        /* Adjust this value to move the positioned div up and down */
        background: rgba(0, 0, 0, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 60%;
        /* Set the width of the positioned div */
    }
    
    .box img {
        height: 330px;
        width: 100%;
        max-width: 495px;
    }
    /* zoom on image*/
    
    .zoom {
        transition: transform .2s;
        /* Animation */
        margin: 0 auto;
    }
    
    .zoom:hover {
        transform: scale(1.1);
        /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    /* Contact Me */
    /* Social Icons nav link */
    
    .header-social .nav-link {
        font-size: 30px;
    }
    
    .header-social .nav>li {
        float: left;
    }
    /* Social Icons hover effect */
    
    .header-social .nav>li>a {
        border-radius: 25px;
    }
    
    .header-social .nav>li>a:hover {
        border-radius: 25px;
    }
    
    .nav-active {
        color: var(--secondary);
    }
    
    .nav-link {
        padding: 0;
        font-size: 1rem;
        line-height: 2.5rem;
        color: inherit;
        opacity: 0.8;
    }
    
    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
    
    .project {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .cv-block.info h2 {
        font-weight: bold;
        margin-bottom: 70px;
        color: #000;
    }
    
    .cv-block.info .work-experience h3,
    .cv-block.info .education h3 {
        font-weight: bold;
        color: #000;
    }
    
    .cv-block.info .group .organization {
        font-size: 0.85em;
        background-color: #0ea0ff;
        display: inline-block;
        color: #fff;
        padding: 2px 8px;
        border-radius: 2em;
    }
    
    .cv-block.info .group .period {
        font-size: 12px;
        float: none;
        font-weight: bold;
        margin-top: 4px;
        color: #6c757d;
        opacity: 0.8;
        float: right;
    }
    
    .cv-block.info .work-experience h3,
    .cv-block.info .education h3 {
        font-weight: bold;
    }
    
    .cv-block.info h3 {
        font-size: 1.3rem;
    }
    
    .cv-block .info-card {
        padding: 40px;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 8%);
        height: 100%;
    }
    
    .cv-block .info-card h2 {
        margin-top: 0;
        margin-bottom: 24px !important;
        font-size: 2.4rem;
    }
    
    .cv-block.info h2 {
        font-weight: bold;
        margin-bottom: 70px;
    }
    
    .cv-block .info-card.skills h3 {
        margin-top: 25px;
        font-size: 12px;
        font-weight: bold;
        color: #000
    }
    
    .cv-block.info h3 {
        font-size: 1.3rem;
    }
    
    .cv-block .info-card.skills .progress {
        height: 3px;
    }
    
    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }
    
    .cv-block.info .group h2+.item {
        padding-top: 25px;
        border-top: 1px solid #eee;
    }
    
    .cv-block.info .group .item {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 1px solid #eee;
    }
    
    .img-circle {
        margin: 0 auto;
    }
    
    #contact {
        color: #777;
    }
    
    .error-text {
        color: rgb(228, 46, 1)
    }